<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a *ngIf="admin" [routerLink]="['adminProf']">view User profile </a></li>
  <li ><a *ngIf="staff"[routerLink]="['staffprof']">view User profile </a></li>
  <li ><a *ngIf="stud"[routerLink]="['studentProf']">view User profile </a></li>
  <li ><a *ngIf="teach"[routerLink]="['techerProf']">view User profile </a></li>
  <li ><a (click)="logout()" >Log Out</a></li>
</ul>
<router-outlet></router-outlet>
