<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a [routerLink]="['viewAdmin']">View Admin</a></li>
  <li ><a *ngIf="add" [routerLink]="['addAdmin']">Add Admin</a></li>
  <li ><a *ngIf="upd" [routerLink]="['updAdmin']">Update Admin</a></li>
  <li ><a *ngIf="del" [routerLink]="['delAdmin']">Delete Admin</a></li>
</ul>
<router-outlet></router-outlet>
