
<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Update Class</legend>


      <div class="form-group">

        <div class="form-group" *ngIf="!updateToggle">


          <label class="col-lg-2 control-label">Section Name</label>
          <div class="col-lg-5"><select class="form-control" (change)="on2($event)">
            <option *ngFor="let sections of section"  >{{sections.name}}</option></select></div>

          <br>
          <label class="col-lg-2 control-label">Campus ID</label>
          <div class="col-lg-5"><select class="form-control" (change)="on($event)">
            <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>

          <label class="col-lg-2 control-label">Class</label>
          <div class="col-lg-5"><select class="form-control" (change)="on3($event)">
            <option *ngFor="let sections of section"  >{{sections.class}}</option></select></div>

          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="getData()" >Get Data</button>

        </div>
        <div *ngIf="updateToggle">


          <label class="col-lg-2 control-label">Class </label>
          <div class="col-lg-10"><select class="form-control" (change)="on6($event)">
            <option>{{temp1}}</option>
            <option *ngFor="let sections of section"  >{{sections.class}}</option></select></div>

          <label class="col-lg-2 control-label">Campus</label>
          <div class="col-lg-10"><select class="form-control" (change)="on4($event)">
            <option>{{temp2}}</option>
            <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>



          <label class="col-lg-2 control-label">name</label>
          <div class="col-lg-10"><select class="form-control" (change)="on5($event)">
            <option>{{temp3}}</option>
            <option *ngFor="let sections of section"  >{{sections.id}}</option></select></div>

          <label class="col-lg-2 control-label">Teacher ID</label>
          <div class="col-lg-10"><select class="form-control" (change)="on7($event)">
            <option>{{temp4}}</option>
            <option *ngFor="let teachers of teacher"  >{{teachers.id}}</option></select></div>


          <div align="center">
            <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="update()">Update Student</button>
          </div>

        </div>
      </div>




    </fieldset>
  </form>
</div>


<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
