<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-150px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Delete Course</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Campus">Delete Course</label>
        </div>
        <label class="col-lg-2 control-label">courseName</label>
        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let courses of course"  >{{courses.name}}</option></select></div>
        <br><br><br>
        <label class="col-lg-2 control-label">Class</label>
        <div class="col-lg-12"><select class="form-control" (change)="on2($event)">
          <option *ngFor="let courses of course"  >{{courses.class}}</option></select></div>

        <br><br><br>

      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="delete()">Delete Teacher</button>
        </div>

      </div>
    </fieldset>
  </form>
</div>
      <div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center">
        <button type="button" class="close" (click)="toggles()">&times;</button>
        <strong>{{message}}</strong>
      </div>
