
<div align="center" style="width: 90%"    >
  <div class="container " xmlns>
    <br><br><br>

    <div class="col-md-5 col-md-offset-5">
  <div class="jumbotron ">
    <img id="profile-img" class="profile-img-card" src="../../../../assetsMul/avatar.png"alt="LoadNahiHoi" />

    <p id="profile-name" class="profile-name-card" align="center"></p>



    <form class="form-signin col-lg-15" #book="ngForm">
      <div class="form-group">
      <span id="reauth-email" class="reauth-email"></span>
      <input [(ngModel)]="userId"  pattern="[0-9]*"   name="os"  #os="ngModel"  required type="text" id="inputEmail" class="form-control" placeholder="User Id" required>
        <br><br>
        <div *ngIf="os.errors&&(os.dirty)" class="alert alert-danger">

          <div [hidden]="!os.errors.pattern">
            fill Correctly !!
          </div>
        </div>

             <!--[{ngModel}] = "email"-->
             <!--#emVal="ngModel"-->
             <!--required autofocus>-->
              <!--<div *ngIf="emVal?.errors && (emVal?.dirty || emVal?.touched)"-->
                   <!--class ="invalid-danger">-->
                <!--<div [hidden]="!emVal?.error.required">-->
                  <!--name is required-->

          <!--</div>-->
                <!--</div>-->
              </div>
      <input [(ngModel)]="password"    pattern="([0-9]||[a-z]||[A-Z])*"   name="os2"  #os2="ngModel"  required type="text" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <br><br>
      <div *ngIf="os2.errors&&(os2.dirty)" class="alert alert-danger">

        <div [hidden]="!os2.errors.pattern">
          fill Correctly !!
        </div>
      </div>
      <br>
        <label for="selectAccType" class="col-lg-25 control-label">Select account type</label><br>
        <div class="col-lg-10">
          <select class="form-control"  (change)="on($event)">
            <option id="selectAccType">loginStudent</option>
            <option>loginStaff</option>
            <option>loginTeacher</option>
            <option>loginAdmin</option>
          </select>
          <br>

        </div>


      <!--<input [(ngModel)]="type" [ngModelOptions]="{standalone: true}" type="text"  class="form-control" placeholder="Type ..." required>-->
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"  [disabled]="!book.form.valid" (click)="login()">Sign in</button>
      <a href="#" class="forgot-password">
        Forgot the password?
      </a>
    </form><!-- /form -->

  <!--</div>&lt;!&ndash; /card-container &ndash;&gt;-->
  </div>
</div><!-- /container -->
  </div>
</div>
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
