<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>View Exam</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Exam">Search for Exam</label>
        </div>

        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let sections of section"  >{{sections.id}}</option></select></div>
        <br><br><br>


      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="show()">Search Course</button>
        </div>

      </div>



    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

<div *ngIf="toggle" class="alert alert-dismissible alert-danger" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>

<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 75px;">



  <thead>
  <tr>
    <th>id</th>
    <th>Date</th>
    <th>created at</th>
    <th>updated at</th>
    <th>section Id</th>
    <th>section Name</th>
    <th>Course Id</th>
    <th>Course Name</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let Data of Datas;" class="info">
    <td>{{Data.id}}</td>
    <td>{{Data.date}}</td>
    <td>{{Data.createdAt}}</td>
    <td>{{Data.updatedAt}}</td>
    <td>{{Data.exSectionId}}</td>
    <td>{{Data.section.name}}</td>
    <td>{{Data.exCourseId}}</td>
    <td>{{Data.course.name}}</td>
  </tr>
  </tbody>
</table>
