
<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:0px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>View Fee</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Fee">Search Fee</label>
        </div>
        <label class="col-lg-2 control-label">Student ID</label>
        <div class="col-lg-8"><select class="form-control" (change)="on($event)">
          <option *ngFor="let students of student"  >{{students.id}}</option></select></div>
        <br><br><br>
        <label class="col-lg-2 control-label">Type</label>
        <div class="col-lg-8"><input [(ngModel)]="type" pattern="([a-z]||[A-Z]||\s)*"    name="os3"  #os3="ngModel"  required  type="text" class="form-control" placeholder="type"></div>
        <br><br><br>
        <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os3.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Detail</label>
        <div class="col-lg-8"><input [(ngModel)]="detail" pattern="([a-z]||[A-Z]||\s)*"    name="os4"  #os4="ngModel"  required  type="text" class="form-control" placeholder="detail"></div>
        <br><br><br>
        <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os4.errors.pattern">
            fill Correctly !!
          </div>
        </div>

      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid"  (click)="show()">Search</button>
        </div>

      </div>



    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

<div *ngIf="toggle" class="alert alert-dismissible alert-danger" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>

<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 75px;">



  <thead>
  <tr>
    <th>Recipt No</th>
    <th>Fee Type</th>
    <th>Detail</th>
    <th>Status</th>
    <th>Date of payment</th>
    <th>due Date</th>
    <th>Student Name</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let Data of Datas" class="info">
    <td>{{Data.id}}</td>
    <td>{{Data.type}}</td>
    <td>{{Data.detail}}</td>
    <td>{{Data.status}}</td>
    <td>{{Data.dateOfPayment}}</td>
    <td>{{Data.dueDate}}</td>
    <td>{{Data.student.firstName}}</td>
  </tr>
  </tbody>
</table>
