<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Update Campus</legend>


      <div class="form-group">

        <div class="form-group"  *ngIf="!updateToggle">

          <label class="col-lg-2 control-label">Campus name</label>
          <div class="col-lg-5"><select class="form-control" (change)="on($event)">
            <option *ngFor="let campuses of campus"  >{{campuses.name}}</option></select></div>


          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="getData()" >Get Data</button>

        </div>



       <div *ngIf="updateToggle">
        <label class="col-lg-2 control-label">updateName</label>
        <div class="col-lg-10"><input [(ngModel)]="data.name" pattern="([a-z]||[A-Z]||\s)*"   name="os3"  #os3="ngModel" required type="text" class="form-control" placeholder="Campus Name" required></div>
         <br><br>
         <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

           <div [hidden]="!os3.errors.pattern">
             fill Correctly !!
           </div>
         </div>

        <label class="col-lg-2 control-label">updateLocation</label>
        <div class="col-lg-10"><input [(ngModel)]="data.location"  pattern="([a-z]||[A-Z]||\s)*"   name="os4"  #os4="ngModel" required  type="text" class="form-control" placeholder="Location" required></div>
         <br><br>
         <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

           <div [hidden]="!os4.errors.pattern">
             fill Correctly !!
           </div>
         </div>


        <label class="col-lg-2 control-label">update admin Id</label>
        <div class="col-lg-10"><select class="form-control" (change)="on2($event)">
          <option>{{temp}}</option>
          <option *ngFor="let admins of admin"  >{{admins.id}}</option></select></div>
         <br><br>
        <label class="col-lg-2 control-label">update Address</label>
        <div class="col-lg-10"><input [(ngModel)]="data.address"   pattern="([a-z]||[A-Z]||\s)*"   name="os6"  #os6="ngModel" required  type="text" class="form-control" placeholder="Address" required></div>

         <br><br>
         <div *ngIf="os6.errors&&(os6.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

           <div [hidden]="!os6.errors.pattern">
             fill Correctly !!
           </div>
         </div>

       </div>

      </div>
      <div *ngIf="updateToggle" class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="update()" >Update</button>
      </div>

      <!--<div class="alert alert-dismissible alert-danger" style="margin-top: 20px; width:400px" align="center"  >-->
      <!--<button type="button" class="close" (click)="toggles()">&times;</button>-->
      <!--<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.-->
      <!--</div>-->

    </fieldset>

  </form>
</div>

<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>

