
<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-50px;margin-left:400px; " >

  <form class="form-horizontal"  #book="ngForm">
    <fieldset>
      <legend>Add Announcements</legend>
      <div class="form-group">
        <label class="col-lg-2 control-label">Campus ID</label>
        <div class="col-lg-10"><select class="form-control" (change)="on($event)">
          <option *ngFor="let campuses of campus"  >{{campuses.id}}</option></select></div>
         <br><br>


        <label class="col-lg-2 control-label">Tital</label>
        <div class="col-lg-10"><input [(ngModel)]="data.title" pattern="([a-z]||[A-Z]||[0-9])*"   name="os3"  #os3="ngModel" type="text" class="form-control" placeholder="Tital of Announcements" required></div>
        <br><br>
        <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os3.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Detail</label>
        <div class="col-lg-10"><input [(ngModel)]="data.detail" pattern="([a-z]||[A-Z]||[0-9])*"   name="os4"  #os4="ngModel" type="text" class="form-control" placeholder="Detail!"required></div>
        <br><br>
        <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os4.errors.pattern">
            fill Correctly !!
          </div>
        </div>

      </div>
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary"  [disabled]="!book.form.valid"  (click)="add()">Submit</button>
      </div>



    </fieldset>
  </form>
</div>
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
