
  <ul style="float: left; " class="nav nav-pills nav-stacked" style="width:150px ;margin-top:-10px">
  <li ><a *ngIf="vCampus" [routerLink]="['vCampus']">View Campus</a></li>
  <li ><a *ngIf="addCampus" [routerLink]="['addCampus']">Add Campus </a></li>
  <li ><a *ngIf="updCampus" [routerLink]="['updCampus']">Update Campus</a></li>
    <li ><a *ngIf="delCampus" [routerLink]="['delCampus']">Delete Campus</a></li>

</ul>


<router-outlet ></router-outlet>


