<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Update Admin</legend>


      <div class="form-group">

        <div class="form-group" *ngIf="!updateToggle">



          <label class="col-lg-2 control-label" >Admin ID</label>
          <div class="col-lg-5"><select class="form-control" (change)="on($event)">
            <option *ngFor="let admins of admin"  >{{admins.id}}</option></select></div>


          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid"  (click)="getData()" >Get Data</button>
          <br><br><br>



        </div>
        <div *ngIf="updateToggle">
          <label class="col-lg-2 control-label">First Name</label>
          <div class="col-lg-10"><input [(ngModel)]="data.firstName" pattern="([a-z]||[A-Z]||\s)*"    name="os3"  #os3="ngModel"  required type="text" class="form-control" placeholder="First Name"></div>
          <br><br><br>
          <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os3.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label" >Last Name</label>
          <div class="col-lg-10"><input [(ngModel)]="data.lastName" pattern="([a-z]||[A-Z]||\s)*"    name="os4"  #os4="ngModel"  required type="text" class="form-control" placeholder="Last Name"></div>
          <br><br><br>
          <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os4.errors.pattern">
              fill Correctly !!
            </div>
          </div>


          <label class="col-lg-2 control-label">Age</label>
          <div class="col-lg-10"> <input [(ngModel)]="data.age" pattern="([0-9])*"    name="os5"  #os5="ngModel"  required type="text" class="form-control" placeholder="Age"></div>
          <br><br><br>
          <div *ngIf="os5.errors&&(os5.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os5.errors.pattern">
              fill Correctly !!
            </div>
          </div>

          <label class="col-lg-2 control-label">Contect Number</label>
          <div class="col-lg-10"> <input [(ngModel)]="data.contact" pattern="([0-9])*"    name="os6"  #os6="ngModel"  required type="text" class="form-control" placeholder="Contect Number"></div>
          <br><br><br>
          <div *ngIf="os6.errors&&(os6.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os6.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">E-Mail Address</label>
          <div class="col-lg-10"> <input [(ngModel)]="data.email" pattern="([a-z]||[A-Z]||[0-9])*@([a-z]||[A-Z]||[0-9])*.com"  name="os7"  #os7="ngModel"  required  type="text" class="form-control" placeholder="E-Mail Address"></div>
          <br><br><br>
          <div *ngIf="os7.errors&&(os7.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os7.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Address</label>
          <div class="col-lg-10"> <input [(ngModel)]="data.address" pattern="([a-z]||[A-Z]||\s)*"    name="os8"  #os8="ngModel"  required type="text" class="form-control" placeholder="Address"></div>
          <br><br><br>
          <div *ngIf="os8.errors&&(os8.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os8.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Salary</label>
          <div class="col-lg-10"> <input [(ngModel)]="data.salary" pattern="([0-9])*"    name="os9"  #os9="ngModel"  required type="text" class="form-control" placeholder="Salary"></div>
          <br><br><br>
          <div *ngIf="os9.errors&&(os9.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os9.errors.pattern">
              fill Correctly !!
            </div>
          </div>




          <div align="center" *ngIf="updateToggle" >
            <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid"  (click)="update()">Update</button>
          </div>

        </div>
      </div>




    </fieldset>
  </form>
</div>

<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
