<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal"  #book="ngForm" >
    <fieldset>

      <legend>Add Result</legend>


      <div class="form-group">
        <label class="col-lg-2 control-label">Marks</label>
        <div class="col-lg-10"><input [(ngModel)]="data.marks"   pattern="([0-9])*"   name="os2"  #os2="ngModel" type="text" class="form-control" placeholder="marks" required></div>
        <br><br>
        <div *ngIf="os2.errors&&(os2.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os2.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Grade</label>
        <div class="col-lg-10"><input [(ngModel)]="data.grade"   pattern="([a-z]||[A-Z])*"   name="os3"  #os3="ngModel" type="text" class="form-control" placeholder="grade" required></div>
        <br><br>
        <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os3.errors.pattern">
            fill Correctly !!
          </div>
        </div>

        <label class="col-lg-2 control-label">Type</label>
        <div class="col-lg-10"><input [(ngModel)]="data.type"   pattern="([a-z]||[A-Z]||\s)*"   name="os4"  #os4="ngModel" type="text" class="form-control" placeholder="type"required></div>
        <br><br>
        <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os4.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Year</label>
        <div class="col-lg-10"><select style="width:100px;height:40px;" class="form-control"  (change)="on($event)">
          <option>2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>

        </select></div>
        <br><br>

        <label class="col-lg-2 control-label">Student ID</label>
        <div class="col-lg-10"><select class="form-control" (change)="on2($event)">
          <option *ngFor="let students of student"  >{{students.id}}</option></select></div>
        <br><br>

        <label class="col-lg-2 control-label">course ID</label>
        <div class="col-lg-10"><select class="form-control" (change)="on3($event)">
          <option *ngFor="let courses of course"  >{{courses.id}}</option></select></div>
        <br><br>

      </div>
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="add()">Submit</button>
      </div>



    </fieldset>
  </form>
</div>


<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
