<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-150px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Add Course</legend>


      <div class="form-group">
        <label class="col-lg-2 control-label">courseName</label>
        <div class="col-lg-10"><input [(ngModel)]="data.name"  pattern="([a-z]||[A-Z]||\s)*"    name="os2"  #os2="ngModel"  required type="text" class="form-control" placeholder="Name"></div>
        <br><br>
        <div *ngIf="os2.errors&&(os2.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os2.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Syllabus</label>
        <div class="col-lg-10"> <input [(ngModel)]="data.syllabus"  pattern="([a-z]||[A-Z]||\s)*"    name="os3"  #os3="ngModel"  required type="text" class="form-control"placeholder="syllabus"></div>
        <br><br>
        <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os3.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label" >Class</label>
        <div class="col-lg-10"><input [(ngModel)]="data.class"  pattern="([0-9])*"    name="os4"  #os4="ngModel"  requiredtype="text" class="form-control" placeholder="class"></div>
        <br><br>
        <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os4.errors.pattern">
            fill Correctly !!
          </div>
        </div>

        <br>
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="AddCourse()">Add Course</button>
        </div>


      </div>




    </fieldset>
  </form>
</div>

<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
