<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-200px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>View Staff</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Staff">Search Staff</label>
        </div>
        <!--///////////////////////////////////-->


<!--/////////////////////////////////////////////////-->
        <label class="col-lg-2 control-label">StaffId</label>
        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let staffs of staff"  >{{staffs.id}}</option></select></div>


      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary"  [disabled]="!book.form.valid" (click)="show()">Search</button>
        </div>

      </div>



    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>


<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 75px;">



  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>contact</th>
    <th>Address</th>
    <th>E-Mail</th>
    <th>Gender</th>
    <th>StaffOfCampus</th>

  </tr>
  </thead>
  <tbody>
  <tr class="info">
    <td>{{Data.id}}</td>
    <td>{{Data.firstName}}</td>
    <td>{{Data.lastName}}</td>
    <td>{{Data.age}}</td>
    <td>{{Data.contact}}</td>
    <td>{{Data.cretedAaddress}}</td>
    <td>{{Data.email}}</td>
    <td>{{Data.gender}}</td>
    <td><select class="form-control"  (change)="on($event)">
      <option *ngFor="let campuses of campus">{{campuses.name}}</option></select></td>
  </tr>
  </tbody>
</table>
