
<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>Update Class</legend>


      <div class="form-group">

        <div class="form-group" *ngIf="!updateToggle">


          <label class="col-lg-2 control-label">Student ID</label>
          <div class="col-lg-5"><select class="form-control" (change)="on($event)">
            <option *ngFor="let students of student"  >{{students.id}}</option></select></div>
          <br><br>
          <label class="col-lg-2 control-label">type</label>
          <div class="col-lg-5"><input [(ngModel)]="type"  pattern="([a-z]||[A-Z]||\s)*"   name="os3"  #os3="ngModel" required  type="text" class="form-control" placeholder="type"></div>
          <br><br>
          <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os3.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">year</label>
          <div class="col-lg-5"><select style="width:100px;height:40px;" class="form-control"  (change)="on2($event)">
            <option>2009</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>

          </select></div>
          <br><br>
          <div>
          <label class="col-lg-2 control-label">courseId</label>
          <div class="col-lg-5"><select class="form-control" (change)="on3($event)">
            <option *ngFor="let courses of course"  >{{courses.id}}</option></select></div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="getData()" >Get Data</button>


        </div>
        <div *ngIf="updateToggle">


          <!--<label class="col-lg-2 control-label">Class Name</label>-->
          <!--<div class="col-lg-10"><input [(ngModel)]="data.class" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Campus Name" required></div>-->

          <!--<label class="col-lg-2 control-label">Campus</label>-->
          <!--<div class="col-lg-10"><input [(ngModel)]="data.secCampusId" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Campus Name" required></div>-->
          <label class="col-lg-2 control-label">Marks</label>
          <div class="col-lg-10"><input [(ngModel)]="data.marks"  pattern="([0-9])*"   name="os5"  #os5="ngModel" required  type="text" class="form-control" placeholder="marks" required></div>
          <br><br>
          <div *ngIf="os5.errors&&(os5.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os5.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Grade</label>
          <div class="col-lg-10"><input [(ngModel)]="data.grade"  pattern="([a-z]||[A-Z])"   name="os6"  #os6="ngModel" required   type="text" class="form-control" placeholder="grade" required></div>

          <br><br>
          <div *ngIf="os6.errors&&(os6.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os6.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Type</label>
          <div class="col-lg-10"><input [(ngModel)]="data.type"  pattern="([a-z]||[A-Z]||\s)*"   name="os7"  #os7="ngModel" required   type="text" class="form-control" placeholder="type"required></div>
          <br><br>
          <div *ngIf="os7.errors&&(os7.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os7.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Year</label>
          <div class="col-lg-10"><input [(ngModel)]="data.year"  pattern="([0-9])*"   name="os8"  #os8="ngModel" required   type="text" class="form-control" placeholder="year"required></div>
          <div *ngIf="os8.errors&&(os8.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

            <div [hidden]="!os8.errors.pattern">
              fill Correctly !!
            </div>
          </div>
          <label class="col-lg-2 control-label">Student ID</label>
          <div class="col-lg-10"><select class="form-control" (change)="on5($event)">
            <option>{{temp1}}</option>
            <option *ngFor="let students of student"  >{{students.id}}</option></select></div>

          <label class="col-lg-2 control-label">course ID</label>
          <div class="col-lg-10"><select class="form-control" (change)="on6($event)">
            <option>{{temp2}}</option>
            <option *ngFor="let courses of course"  >{{courses.id}}</option></select></div>
          <!--yahan kya karon??????????????? -->




          <!--*****************************************-->


          <div align="center">
            <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="update()">Update Student</button>
          </div>

        </div>
      </div>




    </fieldset>
  </form>
</div>


<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
