<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a *ngIf="veiw" [routerLink]="['viewCourse']">View Course</a></li>
  <li ><a *ngIf="add" [routerLink]="['courseAdd']">Add Course</a></li>
  <li ><a *ngIf="update" [routerLink]="['updCourse']">Update course</a></li>
  <li ><a *ngIf="delete" [routerLink]="['delCourse']">Delete course</a></li>
  <li ><a *ngIf="corInsec"[routerLink]="['courseInSection']">Course in Section</a></li>

</ul>
<router-outlet></router-outlet>
