<ul class="nav nav-pills nav-stacked" style="width:200px ;margin-top:-10px">
  <li ><a *ngIf="veiw" [routerLink]="['viewFee']">View Fee </a></li>
  <li ><a *ngIf="add" [routerLink]="['addFee']">Add Fee </a></li>
  <li ><a *ngIf="edit"[routerLink]="['updFee']">Update Fee</a></li>
  <li ><a *ngIf="delete" [routerLink]="['delFee']">Delete Fee</a></li>
</ul>
<router-outlet></router-outlet>
