<div style=" border-radius:5px; background-color: #afd9ee ;width:400px ; height: 350px;padding:10px ; margin-top:-200px;margin-left:200px; " >

  <form class="form-horizontal" #book="ngForm" >
    <fieldset>

      <legend>Add Course in Section</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Campus">Search </label>
        </div>
        <label class="col-lg-2 control-label">Course</label>
        <div class="col-lg-10"><select class="form-control" (change)="on3($event)">
          <option *ngFor="let courses of course"  >{{courses.name}}</option></select></div>
        <br><br><br>
        <label class="col-lg-2 control-label">Class</label>
        <div class="col-lg-10"><select class="form-control" (change)="on($event)">
          <option *ngFor="let courses of course"  >{{courses.class}}</option></select></div>
        <br><br><br>
        <label class="col-lg-2 control-label">section</label>
        <div class="col-lg-10"><select class="form-control" (change)="on2($event)">
          <option *ngFor="let sections of section"  >{{sections.name}}</option></select></div>
        <br><br><br>
        <label class="col-lg-2 control-label">section Class</label>
        <div class="col-lg-10"><select class="form-control" (change)="on8($event)">
          <option *ngFor="let sections of section"  >{{sections.class}}</option></select></div>
        <br><br><br>



      </div>

      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid"  (click)="add()">Search</button>
        </div>

      </div>



    </fieldset>
  </form>

  <div  style=" border-radius:5px;background-color: #afd9ee ;width:400px ;height: 350px; padding:10px ; margin-top:-320px;margin-left:500px; ">
    <form class="form-horizontal"  #book2="ngForm" >
      <fieldset>

        <legend>Delete Course in Section</legend>


        <div class="form-group">
          <div align="center">
            <label class="Sarch-Campus">Delete</label>
          </div>
          <label class="col-lg-2 control-label">Course</label>
          <div class="col-lg-10"><select class="form-control" (change)="on4($event)">
            <option *ngFor="let courses of course"  >{{courses.name}}</option></select></div>
          <br><br><br>
          <label class="col-lg-2 control-label">Class</label>
          <div class="col-lg-10"><select class="form-control" (change)="on5($event)">
            <option *ngFor="let courses of course"  >{{courses.class}}</option></select></div>
          <br><br><br>
          <label class="col-lg-2 control-label">Section</label>
          <div class="col-lg-10"><select class="form-control" (change)="on6($event)">
            <option *ngFor="let sections of section"  >{{sections.name}}</option></select></div>
          <br><br><br>
          <label class="col-lg-2 control-label">SectionClass</label>
          <div class="col-lg-10"><select class="form-control" (change)="on9($event)">
            <option *ngFor="let sections of section"  >{{sections.class}}</option></select></div>
          <br><br><br>

        </div>
        <div class="col-lg-10 col-lg-offset-1">
          <div align="center">
            <button type="submit" class="btn btn-primary" [disabled]="!book2.form.valid" (click)="delete()">Search</button>
          </div>

        </div>



      </fieldset>
    </form>



  </div>

</div>
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>
