<!--<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >-->

  <!--<form class="form-horizontal">-->
    <!--<fieldset>-->




      <!--<p>-->
        <!--v-teacher works!-->
      <!--</p>-->
    <!--</fieldset>-->
  <!--</form>-->
<!--//////////////////////////////////////////////////////////////////////////////////////-->

<div *ngIf="toggle" class="alert alert-dismissible alert-danger" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>

<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-150px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>View Teacher</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Teacher">Search Teacher</label>
        </div>

        <div class="col-lg-12"><select class="form-control" (change)="on($event)">
          <option *ngFor="let teachers of teacher"  >{{teachers.id}}</option></select></div>

        <br><br><br>




      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="show()">Search Teacher</button>
        </div>

      </div>



    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->



<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 75px;">



  <thead>
  <tr>
    <th>id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Contect</th>
    <th>Address</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Salary</th>
    <th>Date of join</th>
    <th>Qualification</th>
    <th>CourseOfTeacher</th>
    <th>CampusOfTeacher</th>

  </tr>
  </thead>
  <tbody>
  <tr class="info">
    <td>{{Data.id}}</td>
    <td>{{Data.firstName}}</td>
    <td>{{Data.lastName}}</td>
    <td>{{Data.age}}</td>
    <td>{{Data.contact}}</td>
    <td>{{Data.address}}</td>
    <td>{{Data.email}}</td>
    <td>{{Data.gender}}</td>
    <td>{{Data.salary}}</td>
    <td>{{Data.dateOfJoin}}</td>
    <td>{{Data.qualification}}</td>
    <td><select class="form-control"  (change)="on($event)">
      <option *ngFor="let course of courses">{{course.name}}</option></select></td>
    <td><select class="form-control"  (change)="on($event)">
      <option *ngFor="let campuses of campus">{{campuses.name}}</option></select></td>
  </tr>


  </tbody>
</table>

