<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:0px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm">
    <fieldset>

      <legend>View View</legend>


      <div class="form-group">
        <div align="center">
          <label class="Sarch-Result">Search Result</label>
        </div>
        <!--///////////////////////////////////-->
        <label class="col-lg-2 control-label">StudentId</label>
        <div class="col-lg-10"><select class="form-control" (change)="on($event)">
          <option *ngFor="let students of student"  >{{students.id}}</option></select></div>
        <br><br><br>

        <label class="col-lg-2 control-label">Type</label>
        <div class="col-lg-10"><input type="text" [(ngModel)]="type" pattern="([a-z]||[A-Z]||\s)*"    name="os3"  #os3="ngModel"  required  class="form-control" placeholder="Type"></div>
        <br><br><br>
        <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os3.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Year</label>
        <div class="col-lg-10"><select style="width:100px;height:40px;" class="form-control"  (change)="on2($event)">
          <option  id="selectAccType3" >2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>

        </select></div>
        <br><br><br>



      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div align="center">
          <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid"  (click)="show()">Search</button>
        </div>

      </div>



    </fieldset>
  </form>
</div>


<!--\\\\\\\\\\\\\\\bootstrap\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>

<table class="table table-striped table-hover "   style="width: 800px; margin-left: 350px; margin-top: 75px;">



  <thead>
  <tr>
    <th>ID</th>
    <th>Marks</th>
    <th>Grade</th>
    <th>Type</th>
    <th>Year</th>
    <th>StudentName</th>
    <th>CourseId</th>
    <th>CourseName</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let Data of Datas" class="info">
    <td>{{Data.id}}</td>
    <td>{{Data.marks}}</td>
    <td>{{Data.grade}}</td>
    <td>{{Data.type}}</td>
    <td>{{Data.year}}</td>
    <td>{{Data.student.firstName}}</td>
    <td>{{Data.resCourseId}}</td>
    <td>{{Data.course.name}}</td>
  </tr>
  </tbody>
</table>
