<div style=" border-radius:5px;background-color: #afd9ee ;width:900px ; padding:10px ; margin-top:-100px;margin-left:400px; " >

  <form class="form-horizontal" #book="ngForm" >
    <fieldset>

      <legend>Add Campus</legend>


      <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input [(ngModel)]="data.name"   name="os" pattern="([a-z]||[A-Z])*"  #os="ngModel"  required
                 type="text"
                 class="form-control"
                 placeholder="Campus Name" required></div>
        <br><br>
        <div *ngIf="os.errors&&(os.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Location</label>
        <div class="col-lg-10"><input [(ngModel)]="data.location" pattern="([a-z]||[A-Z]||[0-9])*"   name="os2"  #os2="ngModel"   type="text" class="form-control" placeholder="Location" required></div>
        <br><br>
        <div *ngIf="os2.errors&&(os2.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os2.errors.pattern">
            fill Correctly !!
          </div>
        </div>


        <label class="col-lg-2 control-label">adminId</label>
        <div class="col-lg-10"><input [(ngModel)]="data.adminId" pattern="([0-9])*"   name="os3"  #os3="ngModel"  type="text" class="form-control" placeholder="ID" required></div>
        <br><br>
        <div *ngIf="os3.errors&&(os3.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os3.errors.pattern">
            fill Correctly !!
          </div>
        </div>
        <label class="col-lg-2 control-label">Address</label>
        <div class="col-lg-10"><input [(ngModel)]="data.address" pattern="([0-9]||[a-z]||[A-Z])*"   name="os4"  #os4="ngModel" type="text" class="form-control" placeholder="Address" required></div>
        <div *ngIf="os4.errors&&(os4.dirty)" style="margin-left:200px;width:300px;" class="alert alert-danger">

          <div [hidden]="!os4.errors.pattern">
            fill Correctly !!
          </div>
        </div>

      </div>
      <div class="col-lg-10 col-lg-offset-2">

        <button type="submit" class="btn btn-primary" [disabled]="!book.form.valid" (click)="addCampus()"  >Submit</button>
      </div>

      <!--<div class="alert alert-dismissible alert-danger" style="margin-top: 20px; width:400px" align="center"  >-->
        <!--<button type="button" class="close" (click)="toggles()">&times;</button>-->
        <!--<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.-->
      <!--</div>-->

    </fieldset>

  </form>
</div>

<div *ngIf="toggle" class="alert alert-dismissible alert-success" style="margin-top: 20px; width:400px;margin-left: 650px " align="center"  >
  <button type="button" class="close" (click)="toggles()">&times;</button>
  <strong>{{message}}</strong>
</div>

